page-c {

    ion-content{
        background-image: url(../assets/imgs/hui.png);
        .item1{
            margin-top: 20px;
        }
        .exit{
            line-height: 50px;
            background-image: url(../assets/imgs/huang.png)
        }
    }

}
